.begin-btn-cont {
    padding: 0 0 4rem 0;
}

.begin-btn {

}

p {
    padding: 4rem 0;
}

.main-1-section {
    display: flex;
    justify-content: center;
}

.inp {
    text-shadow: none;
    color: white;
}

.main-info-p {
    text-align: left;
    text-indent: 4em;
    
}

.main-info-p2 {
    text-align: center;
    padding: 2em 4em 0 4em;
}

.above-btn-p {
    padding-top: 0;
}

